<% content_for :css do %>
  <%= stylesheet_link_tag "surgical_profiles", media: "all" %>
<% end %>

<h1>Editing surgical_profile</h1>

<%= render 'form' %>

<%= link_to 'Show', patient_surgical_profile_path(@patient, @surgical_profile) %> |
<%= link_to 'Back', patient_surgical_profiles_path(@patient) %>
