<h1>Listing healthcare_providers</h1>

<table id="healthcare_providers-table">
  <tr>
    <th>Name</th>
    <th>Provider Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Healthcare provider</a>