<div class='page-title font-page-title'>Healthcare Providers</div>

<div class='healthcare-providers-list' style='clear:both'>
  <!-- row order reversed due to float right stacking -->
  <div class='healthcare-provider-container-hor font-table-row-title'>
    <div class='row-name'>Name</div>
    <div class='row-type'>Provider Type</div>
  </div>

</div>

<div style='clear:both'>
  <a href="#/new">New Healthcare provider</a>
</div>