<h1>New healthcare_provider</h1>

<form id="new-healthcare_provider" name="healthcare_provider">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="type"> provider type:</label>
    <input type="text" name="provider_type" id="provider_type" value="<%= provider_type %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Healthcare provider" />
  </div>

</form>

<a href="#/index">Back</a>