<div class='healthcare-provider-detailed-container' style='clear:both'>

  <div class='page-title font-page-title'>
    <%= name %>
  </div>
  <div class='healthcare-provider-type' style='clear:both'>
    Type: <%= provider_type %>
  </div>

  <div class='departments' style='float: left; clear: both'></div>

  <div>
    <p> Add Department </p>

    <form id="add-department" name="add_department">
      <div class="field">
        <label for="name"> name:</label>
        <input type="text" name="name" id="name" value="" >
      </div>

      <div class="actions">
        <input type="submit" value="Add Department" />
      </div>

    </form>


    <a href="#/index">Back</a>
  </div>
</div>