<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Provider Type:</b>
  <%= provider_type %>
</p>

<div class='departments'></div>


<p> Add Department </p>

<form id="add-department" name="add_department">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="" >
  </div>

  <div class="actions">
    <input type="submit" value="Add Department" />
  </div>

</form>


<a href="#/index">Back</a>