<h1>Listing surgical_profiles</h1>

<table id="surgical_profiles-table">
  <tr>
    <th>Patient status</th>
    <th>Elective surgery</th>
    <th>Principal procedure</th>
    <th>Cpt code</th>
    <th>Origin status</th>
    <th>Hospital admission date</th>
    <th>Operation date</th>
    <th>Anesthesia technique</th>
    <th>Encounter number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Surgical profile</a>