/* Shared css file */

/* Constants: TODO break constants out into another file so can be shared 
   to more files? */
$font-size-logo: 2em;

/* all divs float by default */
div {
  float: left;
  max-width: inherit;
}

/* font weights and designs */
.font-page-title {
  font-weight: bold;
  font-size: 2em;
}
.font-table-row-title {
  font-weight: bold;
}

/* common blocks */
.page-title { /* remember to include .font-page-title also */
  float: left;
  clear: both;
  padding: 15px 0% 15px 0%;
}


/* Logo css - header displays on everypage so include everywhere */
.logo a {
  text-decoration: none;
  background-color: white;
  &:link, &:visited, &:hover, &:active {
    background-color: white;
    color: black;
    font-size: $font-size-logo;
  }
}

/* tables / rows / columns */
.table-row {
  clear: both;
}

.row-element-right {
  float: right;
  padding-right: 25px;
}z
.row-element-left {

}

/* login / logout */
.login_link {
  padding-left: 15px;
}