/* Shared css file */

/* Constants: TODO break constants out into another file so can be shared
   to more files? */
$font-size-logo: 2em;

/* all divs float by default */
div {
  float: left;
}

/* common utility classes */
.clear-both {
  clear: both;
}

/* font weights and designs */
.font-page-title {
  font-weight: bold;
  font-size: 1.3em;
}
.font-table-row-title {
  font-weight: bold;
}
  .font-table-section-header {
    text-decoration: underline;
  }

/* common blocks */
.common-list-container-hor {
  float: left;
  width: 100%;
}

.common-list-item-container-hor {
  clear: both;
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
}
  .common-main-hor {
    font-weight: bold;
    width: 100%;
  }
  .common-detail-hor {
    font-weight: normal;
    padding-left: 2%;
    width: 98%;
  }


.page-title { /* remember to include .font-page-title also */
  float: left;
  clear: both;
  padding: 15px 0% 15px 0%;
}


/* Logo css - header displays on everypage so include everywhere */
.logo a {
  text-decoration: none;
  background-color: white;
  &:link, &:visited, &:hover, &:active {
    background-color: white;
    color: black;
    font-size: $font-size-logo;
  }
}

/* login / logout */
.login_link {
  padding-left: 15px;
}