<% content_for :javascript do %>
  <%= javascript_include_tag "backbone/health_proj" %>
  <%= javascript_include_tag "shared/common" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "patients", media: "all" %>
<% end %>

<div id='patients'></div>


<script type='text/javascript'>
  $(function(){
    window.router = new HealthProj.Routers.PatientsRouter(
      {patients: <%= @patients.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>