<% content_for :css do %>
  <%= stylesheet_link_tag "patients", media: "all" %>
<% end %>

<div class='patients-list-container-hor clear-both'>

  <div class='font-page-title clear-both'>
    <%# Custom header based on user role %>
    <% if current_user.is_admin() %>
      Patients
    <% elsif current_user.is_surgeon() %>
      Patients for <%= current_user.get_surgeon_title_name %>
    <% end %>
  </div>


  <% @patients.each do |patient| %>
    <%= render partial: 'patient_detail_list_item',
          locals: {patient: patient,
                   show_single: @show_single} %>
  <% end %>


</div>

<div class='clear-both'>
  <%= will_paginate @posts %>
</div>