<% content_for :css do %>
  <%= stylesheet_link_tag "patients", media: "all" %>
<% end %>

<div class='patients-list-container-hor clear-both'>

  <div class='font-page-title clear-both'>
    Patients
  </div>


  <% @patients.each do |patient| %>
    <%= render partial: 'patient_detail_list_item',
          locals: {patient: patient,
                   show_single: @show_single} %>
  <% end %>


</div>