<h1>Listing surgeon_specialties</h1>

<table id="surgeon_specialties-table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Surgeon specialty</a>