// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/shared";

.patients-list-container-hor {
  @extend .common-list-container-hor;
}

.patient-container-hor {
  @extend .common-list-item-container-hor;
}
  .patient-main-hor {
    @extend .common-main-hor;
  }
    .patient-main-hor .col-name {
      width: 25%;
      padding-left: 0%;
    }
    .patient-main-hor .col-mrn {
      width: 24%;
      padding-left: 1%;
    }
    .patient-main-hor .col-dob {
      width: 24%;
      padding-left: 1%;
    }
    .patient-main-hor .col-age {
      width: 11%;
      padding-left: 1%;
    }
    .patient-main-hor .col-sex {
      width: 12%;
      padding-left: 1%;
    }

  .patient-detail-hor {
    @extend .common-detail-hor;
  }
    .patient-detail-hor .column1 {
      width: 47%;
      padding-right: 3%;
      padding-left: 2%;

    }
    .patient-detail-hor .column2 {
      width: 48%;
    }
