// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.patients-list-container-hor {
  float: left;
}

.patient-container-hor {
  clear: both;
}
  .patient-main-hor {
    @extend .patiend-container-hor;
    font-weight: bold;
  }
  .patient-detail-hor {
    @extend .patient-container-hor;
    font-weight: normal;
  }


