<div style="clear:left;width:100%;">

  <div> link 1 </div>
  <div> link asdfasdfasdfadsfasfasdfadsfasdfasdfasdfasdfasdfs 2 </div>
  <div> link 3 </div>
  <div> <%= link_to 'admin', '/admin' %> </div>

</div>